@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Sass Settings --*/

/* Test hover img and enlarge */
/* img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(2);
  transform:scale(2);
} */



/* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.padding  {
  padding-bottom: 2rem;
}

.btn-primary {
  background-color: #b6afc9;
  border: 1px solid #b6afc9;
}
.btn-primary {
  background-color: #5e536e;
  border: 1px solid #5e536e;
}
 a {
  color: #fff;
}

/*  -------------    Navigation Bar
-------------------------------------------------- */
navbar {
  padding: .8rem;
}

.logo img {
  max-height: 30px !important;
}
.navbar-nav {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 50;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 200%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
}


/* ----------- Animation Section 
-------------------------------------------------- */ 

#animations {
  margin-top: 5rem;
}

.display-4 {
  font-size: 250%;
}


 /* Jumbotron in surf.html
-------------------------------------------------- */
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
:root {
  --jumbotron-padding-y: 3rem;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}
@keyframes moveLeft {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}


#btn-left {
  position: relative;
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


/* Dashboards */

.dashboard {
  width: 1280px;
  height: 1024px;
}

/* #tableauViz {
  size-adjust: auto;
} */

/* Sign In Form 
-------------------------------------------------- */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Footer
-------------------------------------------------- */
footer {
  color: d5d5d5;
  padding-top: 0.2rem;
  max-height: 40px;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  .carousel-caption { 
    top: 45%;}
  .carousel-caption h1 {
    font-size: 350%;
  }
   .carousel-caption h3{
     font-size: 140%;
     font-weight: 400;
     padding-bottom: .2rem;
   }
   .carousel-caption btn {
     font-size: 95%;
   }
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* for the 3D Object on layouts.html */
#aSide {
  height: 600px;
  width: 600px;
  position: absolute;
  top: calc(50% - 250px);
  right: 7%;
}
/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }